<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading">Barker Progressive Group has been providing business services to the people of Bolivar for 35 years.</h3>
                    <p>
                      As one of the largest insurers in Southwest Missouri, the Barker Progressive Group, represents an exceptional list of the country's top-rated and trusted underwriters. Because of our association with these carriers, you benefit from the most thorough comparisons and competitive rates of the coverage you need.
                    </p>
                </div>
            </div>
        </div>
    </section>
