<div class="companies">
  <img src="images/companies/bmi.jpg" alt="BMI Insurance" />
  <img src="images/companies/cameron.png" alt="Cameron Insurance" />
  <img src="images/companies/can.jpg" alt="CAN Insurance" />
  <img src="images/companies/ciu.png" alt="CIU Insurance" />
  <img src="images/companies/consumers.png" alt="Consumers Insurance" />
  <img src="images/companies/cornerstone.jpg" alt="Cornerstone Insurance" />
  <img src="images/companies/equity.png" alt="Equity Insurance" />
  <img src="images/companies/Hagerty-Insurance-Logo.jpg" alt="Equity Insurance" />
  <img src="images/companies/hickorycounty.jpg" alt="Hickory County Insurance" />
  <img src="images/companies/mem.jpg" alt="MEM Insurance" />
  <img src="images/companies/mjkelly.png" alt="MJ Kelly Insurance" />
  <img src="images/companies/rli.png" alt="RLI Insurance" />
  <img src="images/companies/southernpioneerlogo.jpg" alt="Southern Pioneer Insurance" />
</div>
