<!-- Team Section -->
    <section id="privacy" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <p>Barker Progressive Insurers is committed to protecting the privacy and accuracy of your personally identifiable information to the extent possible, subject to provisions of state and federal law. Other than as required by laws that guarantee public access to certain types of information, or in response to subpoenas or other legal instruments that authorize disclosure, personally identifiable information is not disclosed without your consent.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Information Collection and Use</h3>
                    <p>Categories of personally identifiable information collected by Barker Progressive Insurers include: Name, Phone number, Fax number, address and Property information as well as Auto Information, and Motor Vehicle Driving Records. We may also collect information regarding your health as deemed necessary by the accident and health companies we represent. The personally identifiable information requested by us is needed for Insurance companies we represent and may quote for our billing purpose. In order to keep you informed of updates, or new ideas we have for you. We would contact you by email or phone. Personally identifiable information is not stored within cookies.</p>
                    <h3>Disclosure of Collected Information</h3>
                    <p>
                      Barker Progressive Insurers will not disclose or share, without your consent, personally identifiable information, except for certain explicit circumstances in which disclosure may be required by law. Your personally identifiable information will not be distributed or sold to third-party organizations.
                    </p>
                    <h3>Alternative Choice</h3>
                    <p>
                      Individuals who wish to use methods other than online ordering of an insurance quote may submit requests by phone, email or U.S. mail addressed to Barker Progressive Insurers LLC, PO Box 378, Bolivar MO 65613.
                    </p>
                    <h3>Updating Personal Information</h3>
                    <p>
                      Questions regarding your options to review, modify or delete previously provided personal information should be directed to Barker Progressive Insurers.
                    </p>
                    <h3>Policy Changes</h3>
                    <p>
                      This privacy policy has been created and approved by Barker Progressive Insurers Inc. Any revisions to this privacy policy will be posted at this URL. You may submit inquiries about this policy to sales@barkerprogressive.com.
                    </p>
                    <h3>Links to Other Sites</h3>
                    <p>
                      You may encounter links to other Web sites. Please be aware that Barker Progressive Insurers is not responsible for the information practices of external organizations. We recommend you review the privacy statements of each external Web site that collects personal information.
                    </p>
                    <p>
                      This agency is licensed only in the state listed in the address above. Company links or logos on this web site does not imply the endorsement by those companies of this web site. This is an "agency only" site. Please note that we cannot bind coverage through our web site or through email. For more information regarding bound coverage, call us at 417-326-3140.
                    </p>
                </div>
            </div>
        </div>
    </section>
